view {
  box-sizing: border-box;
}

.my-20 {
  margin-top: 20rpx;
  margin-bottom: 20rpx;
}
.ml-10 {
  margin-left: 10rpx;
}
.ml-20 {
  margin-left: 20rpx;
}
.mr-10 {
  margin-right: 10rpx;
}
.mr-40 {
  margin-right: 40rpx;
}
.mt-10 {
  margin-top: 10rpx;
}
.mt-20 {
  margin-top: 20rpx;
}
.mt-2 {
  margin-top: 2rpx;
}
.mt-5 {
  margin-top: 5rpx;
}
.mb-5 {
  margin-bottom: 5px;
}

.mt-40 {
  margin-top: 40rpx;
}

.mt-80 {
  margin-top: 80rpx;
}

.mb-20 {
  margin-bottom: 20rpx;
}
.p-20 {
  padding: 20rpx;
}
.pt-20 {
  padding-top: 20rpx;
}

.inline-block {
  display: inline-block;
}

.brand-color-title {
  color: $uni-color-title;
}
.flex {
  display: flex;
}
.flex-col {
  flex-direction: column;
}
.flex-end {
  justify-content: flex-end;
}
.justify-between {
  justify-content: space-between;
}
.items-center {
  align-items: center;
}
.w-full {
  width: 100%;
}
.relative {
  position: relative;
}
.text-gray {
  color: #a2a5a7;
}
