.my-20 {
  margin-top: 20rpx;
  margin-bottom: 20rpx;
}

.mt-40 {
  margin-top: 40rpx;
}
.mt-80 {
  margin-top: 80rpx;
}

.mb-20 {
  margin-bottom: 20rpx;
}

.inline-block {
  display: inline-block;
}

.brand-color-title {
  color: $uni-color-title;
}
.flex {
  display: flex;
}
.justify-between {
  justify-content: space-between;
}
